{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<h2 align= "bottom":</h2>
<img id=quinten src="static/quinten.jpg" alt="quinten" width="200" height="300">
<p> De bonker </p>
<img id=jelmer src="static/jelmer.jpg" alt="jelmer" width="200" height="300">
<p>De grote broer</p>
<img id=tristan src="static/tristan.jpg" alt="tristan" width="200" height="300">
<p> Het kleine broertje </p>
<!--<img id=quinten src="static/quinten.jpg" alt="quinten" width="200" height="300">-->
{% endblock %}

